
#top {
    position: fixed;
    top:0;
    left:0;
    background-color: #1d2124;
    color: white;
    box-shadow: 0px 0px 10px 1px grey;
    width: 100%;
}

#bottom {
    position: relative;
    background-color: #2e3136;    
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 1px grey;
}

.center_content {
    position: relative;
}

#top a:visited:hover  {
  color: white;
  font-weight : bold;
  text-decoration : none;
}

.profile{
    width: 100%;
    height: 300px;
    display: flex;
    position: fixed;
    left: 0px; 
    top: 80px;   
    box-shadow: 0px 0px 10px 1px grey;    
    background-color: #0f1112;
    background-image: url("#{resource['images/background_profile.png']}");
    background-size: 1000px 300px;
    
}


.ui-custompanelgrid, .ui-custompanelgrid td {
font-weight: bold;
background-color: blue !important;
}

